<article>
  <h4><%=@post.title%> by <%=@post.author.name%></h4>
  <div>Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></div>
  <div><%=@post.text%></div>
</article>
  <%= render 'shared/comment', comments: @post.comment%>